# FastAPI — веб-фреймворк для создания API на Python, поддерживающий асинхронное программирование
fastapi

# SQLAlchemy — библиотека для работы с базами данных в Python, поддерживающая ORM (объектно-реляционное отображение)
sqlalchemy

# Pydantic — библиотека для валидации данных и работы с типами данных, используемая в FastAPI
pydantic

# Jinja2 — шаблонизатор для Python, позволяющий генерировать HTML-страницы и другие текстовые форматы
jinja2

# Passlib — библиотека для работы с паролями; здесь мы используем bcrypt для безопасного хэширования паролей
passlib[bcrypt]

# PyJWT — библиотека для работы с JWT-токенами (JSON Web Token), используется для аутентификации
pyjwt

# Psycopg2-binary — библиотека для работы с PostgreSQL, позволяет взаимодействовать с базой данных
psycopg2-binary

# Uvicorn — ASGI-сервер для запуска приложений на FastAPI
uvicorn

# Python-multipart — библиотека для обработки многокомпонентных форм, необходима для загрузки файлов
python-multipart 

# Uvicorn с дополнительными стандартными зависимостями для улучшенной производительности
uvicorn[standard]

# Websockets — библиотека для работы с WebSocket-соединениями, поддерживающая асинхронные операции
websockets

